![NYC Skyline](nyc.jpg)

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

**data/airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

In [92]:
# Import necessary packages
import pandas as pd
import numpy as np

# Begin coding here ...
# Use as many cells as you like

In [93]:
price = pd.read_csv("data/airbnb_price.csv")
price.head()

   listing_id        price                nbhood_full
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown

In [94]:
room_type = pd.read_excel("data/airbnb_room_type.xlsx")
room_type.head()

   listing_id                                description        room_type
0        2595                      Skylit Midtown Castle  Entire home/apt
1        3831            Cozy Entire Floor of Brownstone  Entire home/apt
2        5099  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3        5178            Large Furnished Room Near B'way     private room
4        5238         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt

In [95]:
review = pd.read_table("data/airbnb_last_review.tsv")
review.head()

   listing_id    host_name   last_review
0        2595     Jennifer   May 21 2019
1        3831  LisaRoxanne  July 05 2019
2        5099        Chris  June 22 2019
3        5178     Shunichi  June 24 2019
4        5238          Ben  June 09 2019

In [96]:
# dates of the earliest and most recent reviews
review['dates'] = pd.to_datetime(review['last_review']).dt.date
review.head()

   listing_id    host_name   last_review       dates
0        2595     Jennifer   May 21 2019  2019-05-21
1        3831  LisaRoxanne  July 05 2019  2019-07-05
2        5099        Chris  June 22 2019  2019-06-22
3        5178     Shunichi  June 24 2019  2019-06-24
4        5238          Ben  June 09 2019  2019-06-09

### Question 1 
### What are the dates of the earliest and most recent reviews? Store these values as two separate variables with your preferred names.

In [97]:
# separate the dates column as its own
date_df = review[['dates']]

# earliest reviews
earliest = date_df.sort_values(by=['dates'], ascending=True)
earliest = earliest['dates'].iloc[0]

# most recent
recent = date_df.sort_values(by=['dates'], ascending=False)
recent = recent['dates'].iloc[0]

print(f"The earliest date is: {earliest}")
print(f"The mos recent date is: {recent}")

The earliest date is: 2019-01-01
The mos recent date is: 2019-07-09

### Question 2

### How many of the listings are private rooms? Save this into any variable.

In [98]:
# check the unique iterations of private room
room_type['room_type'].unique()

array(['Entire home/apt', 'private room', 'Private room',
       'entire home/apt', 'PRIVATE ROOM', 'shared room',
       'ENTIRE HOME/APT', 'Shared room', 'SHARED ROOM'], dtype=object)

In [99]:
# notice there are multiple private rooms, let's convert to all lower
# filter for private room and then count listing id
private = room_type[room_type['room_type'].str.lower() =='private room']
private_no = private.shape[0]

print(f"The number of private rooms are: {private_no}")

The number of private rooms are: 11356

### Question 3
### What is the average listing price? Round to the nearest two decimal places and save into a variable.

In [100]:
# split the price column at space
price[['dols', 'scrap']] = price['price'].str.split(' ', n=1, expand=True)
price['dols'] = price['dols'].astype(int)

# take the average now
avg_price = price['dols'].mean().round(2)

print(f"The average price of listings is: {avg_price}")

The average price of listings is: 141.78

### Question 4

### Combine the new variables into one DataFrame called review_dates with four columns in the following order: first_reviewed, last_reviewed, nb_private_rooms, and avg_price. The DataFrame should only contain one row of values.

In [101]:
# create a dictionary of values
review = {'first_reviewed':[earliest],
         'last_reviewed':[recent],
         'nb_private_rooms':[private_no],
         'avg_price':[avg_price]}

review_dates = pd.DataFrame(review)
review_dates

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78